body {
	background-color: black;
	font-family: 'Raleway', sans-serif;
}

.tick text {
  fill: white;
	cursor: default;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 4px;
    font: 16px Helvetica;
		color: white;
    background: black;
    border: 2px solid black;
    border-radius: 2px;
    pointer-events: none;
}

.main{
  text-align: center;
}

h1 {
  color:white;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 5.5vw;
  margin-bottom: 0px;
}

h2 {
  color: white;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 4vw;
  margin-top: 5px;
}

h3 {
	color: white;
	font-family: Helvetica;
	font-weight: 400;
	font-size: 24px;
}

.arc path {
  stroke: black;
	stroke-width: 15;
}

.arc-outline path {
	stroke: white;
	stroke-width: 2;
}
