body {
	background-color: black;
	font-family: 'Raleway', sans-serif;
}

.tick text {
  fill: white;
}

.main{
  text-align: center;
}

h1 {
  color:white;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 5.5vw;
  margin-bottom: 0px;
}

h2 {
  color: white;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 4vw;
  margin-top: 5px;
}
